<% layout('layout') -%>

<div class="container">

    <h1>Mon panier</h1>
 
    <div class="row">
        <h2 class="alert alert-warning">Votre panier est vide !"</h2>
        <a href="/" class="btn btn-dark">Retour a la boutique</a>
    
    
        <div class="col-md-6">
            <!--Boucle pour afficher les produits ajoutées au panier -->
            <% for(var i = 0;i < foundCart.items.length; i++){ %>
                <div class="list-group">
                    <span class="list-group-item">

                    <div class="row">
                        <div class="col-md-3">
                            <span><img class ="img-fluid" src="<%= foundCart.items[i].item.image %>"  alt="<%= foundCart.items[i].item.name %>"></span>
                        </div>

                        <div class="col-md-6">
                            <p class="list-group-item-heading"><%= foundCart.items[i].item.name %></p>

                        </div>    
                        <div class="col-md-3">
                            <p><%= foundCart.items[i].quantity %></p>
                            <p><%= foundCart.items[i].price %> €</p>

                        </div>
                    </div>

                            </span>
                </div>
        </div>    
          <% } %>
        </div>    
          
    </div>
</div>
